* {
  margin: 0%;
  padding: 0%;
}
html {
  font-size: 70%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
}
.encabezado {
  background-image: url("../img/fondo.jpg");
  background-position: center;
  height: 50vh;
  width: 100%;
  position: relative;
  opacity: 80%;
  grid-area: header;
}

.encabezado div {
  height: 10rem;
  width: 50rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

nav {
  background-color: lightslategray;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  grid-area: nav;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 2rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

section {
  margin: 1rem;
  padding: 0.5rem;
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

section img {
  width: 20rem;
  border-radius: 3px;
}

section button {
  border-radius: 6px;
  background-color: lightslategray;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
footer {
  padding-top: 2rem;
  background-color: lightslategray;
  text-align: center;
  grid-area: footer;
}
footer ul  {
  display: inline-block;
  margin: 2rem;
}

.yerba {grid-area: yerba;}
.mate {grid-area: mate;}

.gridpadre {
   display: grid; 
   grid-template-areas: 
   "header header"
   "nav nav"
   "yerba yerba"
   "mate mate"
   "footer footer";
}

@media (min-width:700px) and (max-width:1100px) {
    .gridpadre{
        display: grid;
        grid-template-areas:
    "header header"
   "nav nav"
   "yerba yerba"
   "mate mate"
   "footer footer"
        ;
    
    }
    
}

